#parent{
    text-align: center;
    margin-left: 350px;
    margin-top: 100px;
    background-color: rgb(52, 214, 214);
    width: 800px;
    padding: 30px;
    
}
.A{
padding: 20px;
display: inline-block;
}